html, body {
  background-color: #166534;
  font-family: 'Secular One', sans-serif;
}

.content {
  background-color: #16a34a;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 12px;
  padding: 20px;
  width: 50vw;
  text-align: center;
  overflow-wrap: break-word;
}

.message {
  color: #1628A3;
  text-align: center;
  font-weight: bold;
}

.error {
  color: #c01616;
  text-align: center;
  font-weight: bold;
}

button {
  appearance: none;
  background-color: #239042;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-bottom: 5px;
  overflow-wrap: break-word;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #20833c;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:active {
  background-color: #1d7235;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.day {
  font-weight: bold;
}

.cells {
  font-weight: bold;
}

.cpd {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 60vw;
  }
  p {
    font-size: 12px;
  }
  button {
    font-size: 12px
  }
}

@media only screen and (max-height: 400px) {
  .content {
    width: 95%;
  }
}

@media only screen and (max-width: 400px) {
  .content {
    width: 80vw;
  }
}